@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Code+Pro&display=swap');


body{
  display: flex;
  justify-content: center;
}
.allItems {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 100%;
}
.InputValues {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.inputSpace {
  width: 200px;
  height: 30px;
  border-style:groove;
  margin-right: 10px;
}

.addItem {
  color: rgb(222, 222, 233);
  background-color: rgb(68, 126, 141);
  border-radius: 20%;
  height: 40px;
  width: 80px;
  margin-left: 10px;
  cursor: pointer;
}
.addItem:hover {
  color: rgb(13, 36, 54);
}
.addItem:disabled {
  pointer-events: none;
}

li{
  display: flex;
  justify-content: space-between;
}

.ListName{
  display: flex;
  align-self: center;
  justify-content: center;
  color:rgb(170, 40, 40);
  font-size: 2rem;
  font-family:'Lobster', cursive;
}

ul{
  list-style-type:none;
}
.Tasks{
  font-family:'Source Code Pro', monospace;
  padding: 10px;
  margin: auto;
}
.DeleteItem{
 padding: 10px;
 color: rgb(236, 227, 227);
 border-radius: 20%;
 background-color: rgb(131, 16, 16);
 border: none;
 margin: 5px;
 cursor: pointer;

}


